AuthType Basic
AuthName " Statistics"
/web/httpd2/conf/1576/virtualhosts.conf- AuthName "shawnfennell.com Statistics"
AuthUserFile /var/chroot/home/content/35/10846935/html/stats/.statspwd
Require valid-user
DirectoryIndex index.html
